/* Container */
.wrapper {
    height: 100%;
}

.container-inner {
    margin-left: 10px;
    padding: 20px 20px;
    background: var(--blue);
    border-radius: 10px;
    align-content: flex-start;
    box-sizing: border-box;
}

.assignment-header, .tabs {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.assignment-header {
    position: relative;
}

.tab-thumbnail {
    padding-bottom: 20px;
}

.tab-title {
    font-size: 1.7rem;
}

.course-code {
    font-size: 0.8rem;
}

.tabs-header {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: solid 1px black;
}

.tabs-header div {
    margin-right: 20px;
}

.tabs-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tabs-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    margin: 0 10px;

}

.edit-option {
    margin-top: 5px;
    text-align: center;
    font-size: 0.6rem;
}

.tabs-thumbnail {
    height: 100px;
    width: 80px;
    border: solid 1px black;
    border-radius: 10px;
    box-sizing: border-box;
}

.add-tabs-thumbnail {
    height: 100px;
    width: 80px;
    border: solid 1px black;
    border-radius: 10px;
    box-sizing: border-box;
    background-image: url(../image/plus.png);
    background-size: cover;
    background-position-x: center;
}

.tabs-option-title {
    margin-top: 5px;
    text-align: center;
    word-wrap: break-word;
    font-size: 0.9rem;
}

.tab-subtitle {
    font-size: 0.8rem;
    color: var(--grey);
    margin-top: 10px;
}

/* Left Sidenav */
.sidetabs {
    width: 100%;
    padding: 20px 20px;
    display: inline-block;
    box-sizing: border-box;
}

.sidetabs-title {
    margin-bottom: 20px;
}

.sidetabs select {
    width: calc(100% - 40px);
    background: var(--dark-pink);
    border: none;
    padding: 8px 20px;
    font-family: "Oxygen", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    color: black;
}

.quick-access {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quick-access li {
    margin-bottom: 5px;
}

.quick-access a {
    display: block;
    padding: 8px 0 8px 20px;
    box-sizing: border-box;
    color: black;
}

.quick-access .active {
    background: var(--dark-pink);
    border-radius: 5px;
}

.progress-bar {
    background: var(--dark-pink);
    width: 100%;
    height: 15px;
    border-radius: 50px;
    z-index: 2;
    padding: 0 5px;
    box-sizing: border-box;
    position: relative;
}

.progress {
    background: var(--pink);
    position: absolute;
    height: 9px;
    z-index: 3;
    top: 3px;
    left: 3px;
    border-radius: 50px;
}

.progress-value {
    margin-top: 5px;
    text-align: right;
    color: var(--darker-pink);
}

.sidetabs select:focus {
    outline: 0;
}

@media screen and (max-width: 641px) {
    .tabs {
        width: 100%;
    }

    .container-inner {
        margin: 0;
    }
}