.nav-title {
    text-align: center;
    text-transform: uppercase;;
}

.register-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.register {
    margin-top: 15px;
}

.login-info input[type="radio"] {
    width: 18px;
    margin-right: 5px;
    margin-top: 0;
}

.label-block {
    position: static;
    width: auto;
    display: none;
}

@media screen and (min-width: 641px) {
    .register-info {
        justify-content: left;
    }

    .login-row {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;
        justify-content: space-between;
    }

    .login-row .login-info {
        width: 49%;
        margin: 0;
    }

    .break {
        display: none;
    }
    
    .label-block {
        display: block;
    }

    .login-info input[type="radio"] {
        margin-left: 15px;
    }
}

/* Result of not using mobile first concept... */
@media screen and (max-width: 741px) {
    .login-info input, .label {
        height: 30px;
    }

    .label-large {
        line-height: 30px;
    }
}